<div class="table-responsive">
    <table class="table table-bordered table-hover">
        
        <tbody>
          
          <tr>
           
            <td (click)="setCategory('All')">All</td>
            
          </tr>
          <tr>
            
            <td (click)="setCategory('business')">Business</td>
            
          </tr>
          <tr>
            
            <td (click)="setCategory('cookbooks')">Cookbooks</td>
            
          </tr>
          <tr>
            
            <td (click)="setCategory('mystery')">Mystery</td>
            
          </tr>
          <tr>
            
            <td (click)="setCategory('scifi')">Scifi</td>
            
          </tr>
          <tr>
            
            <td (click)="setCategory('accessories')">Accessories</td>
            
          </tr>
        
    
        </tbody>
      </table>
    </div>