
<app-banner></app-banner>
<div class="container-fluid">
    <div  class="d-flex flex-column container-fluid">
      <div class="container-fluid mt-5 ">
          <div class="row mr-0 ml-0">
              <!-- <div class="col-sm-2 p-2">
                  <app-side-menu (categoryEmitter)="setCategory($event)"></app-side-menu>
              </div> -->
              <div class="col-sm-12 col-xl-12 container-fluid">  
                <app-shopping-products [productListByCategory]="productList" (itemCounter)="cartUpdate($event)" (productData)="getProductIds($event)"></app-shopping-products>
              </div>
          </div>
      </div>
      
    </div>
  </div>
  <app-footer></app-footer>